@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

*{ /*modificações padrões para que o site se adeque aos diferentes navegadores*/
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root{ /*a função root tem como caracteristira armazenar variaveis de informações do site*/
    --vermelho: rgb(243, 16, 16); /*variavel com a com principal do site*/
    --vermelho2: rgb(137, 13, 13);
}



/*Div 1, Cabeçario do site*/
.cabecario{
    background-color: var(--vermelho);/*cor do cabeçario*/
    font-size: 120%;/*tamanho da font usada no cabeçario*/
    width: 100%; /* Faz o cabeçalho ocupar toda a largura da tela */
    height: 20vh; /*a altura do cabeçario*/
    display: flex; /*este elemento possibilita as modificações de direção dentro da Div*/
    align-items: center;/*alinhamentos dos elementos no centro do cabeçario*/
    flex-direction: row; /*todos os elementos da Div cabeçario ficam em linha*/
    justify-content: space-between;/*esse elemento trata um espaço entre os elementos da Div, independende da quantidade*/
    padding: 0px 90px 0px 30px;/*distancia dos elementos da borda da Div*/
    position: fixed; /*ele para o cabeçario ficar fixado no topo do site*/
    border-bottom: 2px  solid black; /*bordar apenas na parte de baixo do cabeçario*/
}

.a_cabecario{ /*ancoras dentro do cabeçario*/
    text-decoration: none; /*elemento usado para remover a linha que tem dentro do links como padrão*/
    padding: 25px; /*distancia de 25px para cada Ancora dentro do cabeçario*/
    font-family: 'Rubik', sans-serif; /*font usada nas letras do cabeçario*/
    font-weight: 550;/*essa propriedade controla a largura da font ultilizada */
    color: white; /*com da fonte das ancoras*/
    text-shadow: 6px 4px 4px black; /*bordas nas letras*/
}
/*Final da Div 1, cabeçario */



.apresentacao{
    background-color: bisque;
    height: 70vh;
}

.video{
    display: flex;
    top: 50%;
}



.sobre{
    background-color: var(--vermelho);
    height: 90vh; 
}

.container_sobre_nos{
    background-color: var(--vermelho);
    display: flex;
    width: 100%;
    height: 100vh;
    display: flex;

}

.esquerda, .direita {
    flex: 1;
    padding: 20px;
}

.esquerda {
    font-family: 'Rubik', sans-serif;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 90px;
}

.btn{
    padding: 25px 80px;
    font-family: 'Rubik', sans-serif;
    color: white;
    background-color: var(--vermelho);
    border: none;
}

.direita {
    background-image: linear-gradient(90deg, var(--vermelho), var(--vermelho2));
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto_car{
    padding: 7px;
}



.d3{
    background-color: bisque;
    height: 70vh;
}


/*inicio Div 5, redes sociais e informações adicionais*/
.conclusao{/*essa é a Div pai de todos os 3 elementos dentro desse campo: loja, redes, sobre*/
    background-color: rgb(50, 49, 47); /* Define a cor de fundo para cinza */
    height: 50vh; /* define o tamanho da altura da div */
    font-family: Arial, Helvetica, sans-serif; /* define a fonte das letras da div */
    display: flex; /* este elemento possibilita as modificações de direção dentro da Div  */
    align-items: center; /* alinhamentos dos elementos no centro do cabeçario */
    justify-content: space-between; /* esse elemento trata um espaço entre os elementos da Div, independende da quantidade */

}

.loja{
    padding: 2px 50px; /* */
    flex-direction: column;

}

.a_redes{
    color: white;
    text-decoration: none;
}

.redes_sociais{
    padding: 30px 100px;
    color: white;
    text-decoration: none;
}

.sobre_nos{
    padding: 10px 30px 30px 30px;
}

/*final  da div 5, redes sociais e informações adicionais*/