@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

*{ /*modificações padrões para que o site se adeque aos diferentes navegadores*/
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root{ /*a função root tem como caracteristira armazenar variaveis de informações do site*/
    --vermelho: rgb(243, 16, 16); /*variavel com a com principal do site*/
    --vermelho2: rgb(137, 13, 13);
}



/*Div 1, Cabeçario do site*/
.cabecario{
    background-color: var(--vermelho);/*cor do cabeçario*/
    font-size: 120%;/*tamanho da font usada no cabeçario*/
    width: 100%; /* Faz o cabeçalho ocupar toda a largura da tela */
    height: 20vh; /*a altura do cabeçario*/
    display: flex; /*este elemento possibilita as modificações de direção dentro da Div*/
    align-items: center;/*alinhamentos dos elementos no centro do cabeçario*/
    flex-direction: row; /*todos os elementos da Div cabeçario ficam em linha*/
    justify-content: space-between;/*esse elemento trata um espaço entre os elementos da Div, independende da quantidade*/
    padding: 0px 90px 0px 30px;/*distancia dos elementos da borda da Div*/
    position: fixed; /*ele para o cabeçario ficar fixado no topo do site*/
    border-bottom: 2px  solid black; /*bordar apenas na parte de baixo do cabeçario*/
}

.a_cabecario{ /*ancoras dentro do cabeçario*/
    text-decoration: none; /*elemento usado para remover a linha que tem dentro do links como padrão*/
    padding: 25px; /*distancia de 25px para cada Ancora dentro do cabeçario*/
    font-family: 'Rubik', sans-serif; /*font usada nas letras do cabeçario*/
    font-weight: 550;/*essa propriedade controla a largura da font ultilizada */
    color: white; /*com da fonte das ancoras*/
    text-shadow: 6px 4px 4px black; /*bordas nas letras*/
}
/*Final da Div 1, cabeçario */


.container_sobre_nos{
    background-color: var(--vermelho);
    background-image: linear-gradient(115deg, var(--vermelho) 50%, var(--vermelho2) 55%);
    padding: 80px 0px;
    display: flex;
    width: 100%;
    height: 100vh;
    display: flex;

}

.esquerda {
    font-family:'Calibri';
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 90px;
}

.btn{
    padding: 25px 80px;
    /*font-family: 'Rubik', sans-serif;*/
    font-size: 15px;
    color: white;
    background-color: var(--vermelho2);
    border: none;
    border-radius: 12px;
}

.direita {
    display: flex;
    align-items: center;
    justify-content: center;
}

.esquerda, .direita {
    flex: 1;
    padding: 20px;
}

.foto_car{
    padding: 7px;
}

.apresentacao{
    height: 100vh;
    background-image: url(/pngs.perina/capa_para_perina.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 0px 0px 0px;
}

.servicos{
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
gap: 5%;
padding-left: 4%;
padding-right: 4%;

}

.serv{
    background-image: linear-gradient(115deg, var(--vermelho) 50%, var(--vermelho2) 55%);
    padding: 80px 35px;
    height: 50vh;
    width: 60%;
    border-radius: 55px ;
}

.serv1{
    font-size: 15px;
    font-family: 'calibri';
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px 10px 0px;
}

.serv2{
    font-family: 'calibri';
    color: white;
    display: flex;
    padding: 10px 0px 10px 0px;
}

#i{
    font-size: 50px;
    display: flex;
    justify-content: center;
    padding-top: 25px;
}


@keyframes slides{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.logos{
    overflow: hidden;
    z-index: 10; /* Certifique-se de que este valor seja menor do que o z-index do cabeçalho */
    position: relative; /* Necessário para que o z-index seja aplicado */
}

.logos-slides{
    display: flex;
    gap: 55px;
    animation: 15s slides infinite linear;
    padding: 12px 0;
    position: relative; /* Necessário para que o z-index seja aplicado */
    z-index: 10; /* Certifique-se de que este valor seja menor do que o z-index do cabeçalho */
}

.logos-slides img{
    height: 125px;
}


/*inicio Div 5, redes sociais e informações adicionais*/
.conclusao{/*essa é a Div pai de todos os 3 elementos dentro desse campo: loja, redes, sobre*/
    background-color: rgb(50, 49, 47); /* Define a cor de fundo para cinza */
    height: 50vh; /* define o tamanho da altura da div */
    font-family: Arial, Helvetica, sans-serif; /* define a fonte das letras da div */
    display: flex; /* este elemento possibilita as modificações de direção dentro da Div  */
    align-items: center; /* alinhamentos dos elementos no centro do cabeçario */
    justify-content: space-between; /* esse elemento trata um espaço entre os elementos da Div, independende da quantidade */

}

.loja{
    padding: 2px 50px; /* */
    flex-direction: column;

}

.a_redes{
    color: white;
    text-decoration: none;
}

.redes_sociais{
    padding: 30px 100px;
    color: white;
    text-decoration: none;
}

.sobre_nos{
    padding: 10px 30px 30px 30px;
}

/*final  da div 5, redes sociais e informações adicionais*/